* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #070b14;
  color: #d9f3ff;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
}

.left, .right {
  padding: 40px;
  border-left: 1px solid egba(0,255,255,0.3), transparent;
}

.center {
  padding: 40px;border-left: 1px solid egba(0,255,255,0.3);
  border-right: 1px solid egba(0,255,255,0.3);
  background: #0e1525;
}

h1 {
  color: #00ffff;
  margin-bottom: 15px;
}

.news {
  margin-top: 18px;
  padding: 12px;
  border: 1px solid rgba(0,255,255,0.15);
  transition: transform .25s ease, box-shadow .25s ease;
  position: relative;
  cursor: pointer;
  overflow: visible;
  border-radius: 20%;
}

.news:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.35);
}

.preview { 
  position: absolute;
  left: 105%;
  top: 0;
  width: 220px;
  padding:10px;
  background: rgba(10,20,40,0.95);
  border: 1px solid rgba(0, 255, 255, 0.4);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.25);
  font-size: 0.85rem;
  color: #bfefff;
  pointer-events: none;
  border-radius:  0 15px 15px 15px;
}